#clinica {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #clinica td, #clinica th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #clinica tr:nth-child(even){background-color: #f2f2f2;}
  
  #clinica tr:hover {background-color: #ddd;}
  
  #clinica th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }