<form action="action_page.php" method="post">
    <div class="imgcontainer">
      <h3 style="text-align: center;"><span style="color: #339966;">Nuevo Paciente</span></h3>
    </div>
  
    <div class="container" style="width: 50%; float: left">
        <label for="id">Identificación:</label><br>
        <input type="text" id="id" name="id"><br>
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre">   
        <label for="apellido1">Primer apellido:</label><br>
        <input type="text" id="apellido1" name="apellido1">   
        <label for="apellido2">Segundo Apellido:</label><br>
        <input type="text" id="apellido2" name="apellido2">  
        <label for="provincia">Provincia:</label><br>
        <input type="text" id="provincia" name="provincia">   
        <label for="canton">Cantón:</label><br>
        <input type="text" id="canton" name="canton">  
    </div>
    <div class="container" style="width: 50%; float: right">
        <label for="distrito">Distrito:</label><br>
        <input type="text" id="distrito" name="distrito">  
        <label for="otros">Otros:</label><br>
        <input type="text" id="otros" name="otros">
        <label for="correo">Correo:</label><br>
        <input type="text" id="correo" name="correo">
        <label for="fechaNacimiento">Fecha de nacimiento:</label><br>
        <input type="date" id="fechaNacimiento" name="fechaNacimiento">
        <label for="tipoSangre">Tipo de sangre:</label><br>
        <input type="text" id="tipoSangre" name="tipoSangre">
        <label for="estado">Estado:</label><br>
        <input type="text" id="estado" name="estado"> 
      <button type="submit">Guardar</button>
    </div>
  </form>