<form action="action_page.php" method="post">
  <div class="imgcontainer">
    <h1 style="text-align: center;"><span style="color: #339966;">Bienvenidos a Health TEC</span></h1>
    
    <p><b>Este sistema esta diseñado para el gestionamiento efectivo de los casos de COVID en el país.</b></p>
    <p><b>A continuación podrá encontrar información relacionada con Clinicas, Médicos y Pacientes registrados.</b></p>
  </div>
  <hr>

  <div class="container" style="text-align: center;">
    <p>Seleccione el Rol de ingreso:</p>
    <input type="radio" id="Publico" name="rol" value="PUBLICO" checked="checked">
    <label for="html">Público</label><br>
    <input type="radio" id="Administrador" name="rol" value="ADMINISTRADOR">
    <label for="css">Administrador</label><br>    

    <button type="submit">Ingresar</button>
  </div>
</form>

