<form action="action_page.php" method="post">
    <div class="imgcontainer">
      <h3 style="text-align: center;"><span style="color: #339966;">Nueva Clínica</span></h3>
    </div>
  
    <div class="container" style="width: 50%; float:left">
        <label for="id">Identificador:</label><br>
        <input type="text" id="id" name="id"><br>
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre">   
        <label for="provincia">Provincia:</label><br>
        <input type="text" id="provincia" name="provincia">   
        <label for="canton">Cantón:</label><br>
        <input type="text" id="canton" name="canton">  
        <label for="distrito">Distrito:</label><br>
        <input type="text" id="distrito" name="distrito">  
        <label for="otros">Otros:</label><br>
        <input type="text" id="otros" name="otros">
        <label for="telefono">Teléfono:</label><br>
        <input type="number" id="telefono" name="telefono">  
    </div>
    <div class="container" style="width: 50%; float:right">
        <label for="correo">Corereo:</label><br>
        <input type="text" id="correo" name="correo"> 
        <label for="sitioWeb">Sitio web:</label><br>
        <input type="text" id="sitioWeb" name="sitioWeb"> 
        <label>Horario</label><br>
        <label for="diaInicio">Día inicial:</label><br>
        <input type="text" id="diaInicio" name="diaInicio"> 
        <label for="diaFinal">Día final:</label><br>
        <input type="text" id="diaFinal" name="diaFinal"> 
        <label for="horaInicio">Hora entrada:</label><br>
        <input type="text" id="horaInicio" name="horaInicio"> 
        <label for="horaCierre">Hora cierre:</label><br>
        <input type="text" id="horaCierre" name="horaCierre"> 
        


      <button type="submit">Guardar</button>
    </div>
  </form>